Source: ros-crystal-keystroke
Section: misc
Priority: extra
Maintainer: Dan Rose <dan@digilabs.io>
Build-Depends: debhelper (>= 9.0.0), ros-crystal-ament-lint-auto, ros-crystal-ament-lint-common, ros-crystal-ros-workspace, python3-all, python3-setuptools
Homepage: 
Standards-Version: 3.9.2

Package: ros-crystal-keystroke
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-crystal-rclpy, ros-crystal-std-msgs, ros-crystal-ros-workspace
Description: Capture keyboard input from the local computer and publish it to ROS
